Unable to verify signature using verify_signed_data_with_algorithm

I have tried to use the `x509-certificate` crate to verify a signed S/MIME file, but with no success. The file has two parts: a `text/plain` XML document and a PKCS#7 signature to prove the XML content's authenticity.

Please see my test program [x509-test](https://github.com/jhelovuo/x509-test).

The test program has the following steps:

- Write the test data to temp files and use OpenSSL to check that they verify ok, so that the test inputs are sane. Capture the OpenSSL output for contents comparison.
- Use the `mailparse` package to extract the XML content and signature in PEM fromat.
- Modify parsed content newlines, because they do not survive MIME encode/decode intact.
- Check that our parsed content matches byte-by-byte OpenSSL output.
- Use `cms` package to decode the PKCS#7 signature block.
- Extract the SHA256 hash of the XML content from the signature.
- Compute the SHA256 hash from parsed content, and check that hashes are equal.
- Extract the ECDSA signature bytes, still keeping the "r" and "s" in ASN.1 encoding. This format is used, because of the [`ring` documentation](https://docs.rs/ring/latest/ring/signature/index.html)
- Use `verify_signed_data_with_algorithm` with `ECDSA_P256_SHA256_ASN1` algorithm to verify content bytes against signature bytes.

The problem is that the verification always fails, but I cannot figure out why.

Am I perhaps trying to do a completely wrong thing here?  Can you provide an example how the verification is supposed to be used?

I'm not sure when I'll have time to look at this in full. But this repository contains a cryptographic-message-syntax crate that implements a lot of PKCS#7. You might be able to feed the parsed CMS data from the S/MIME payload into that and call its native verification functions to see if that works. If nothing else, you may want to read the source to understand how signed attributes can factor into the signature. See RFC 5652 Section 5.4.

Thanks, this actually solved my problem.

RFC 5652 Section 5.4 fills the gaps in the documentation, i.e. what "signed data" should one feed into the `verify_signed_data_with_algorithm` function. The answer is neither obvious or trivial, but the RFC explains it clearly. 